.articles{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 70%;
}

.spinner{
  position: absolute;
  bottom: 0;
}

@media (width <= 630px){
  .articles{
    justify-content: center;
  }
}