.filterSelect button{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 70%;
  color: black;
  background-color: white;
  border: 3px solid #3b151f;
}
.filterSelect button:hover{
  color: black;
  background-color: white;
  border: 3px solid #a4304d;
}

.filterSelect button:active{
  color: black;
  background-color: white;
  border: 3px solid #a4304d;
}

.filterSelect button:focus{
  color: black;
  background-color: white;
  border: 3px solid #a4304d;
}

.filterSelect div{
  z-index: 1;
  width: 70%;
  margin-top: 1%;
  border: 3px solid #a4304d;
}

.filterSelect p:hover{
  color: #a4304d;
}
.filterSelect a:hover{
  background-color: transparent;
}