.mainContainer{
  --p: #a4304d;
  --s: #3b151f;
  --t: rgb(80, 80, 80);
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 500px;
  margin-top: 180px;
  margin-bottom: 100px;
}
.mainContainer h1{
  width: 100%;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-bottom: 20px;
  text-align: center;
  color: white;
  background-color: var(--s);
}
.mainContainer form{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 80%;
  width: 30%;
}
.mainContainer form div{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 100%;
}
.mainContainer form div input{
  height: 40px;
  border: 3px solid var(--s);
  border-radius: 10px;
  padding-left: 10px;
  outline: none;
}
.mainContainer form div input:hover{
  border: 3px solid var(--p);
}
.mainContainer form div input:focus{
  border: 3px solid var(--p);
}
.mainContainer form button{
  height: 35px;
  width: 35%;
  font-size: 1.3rem;
  color: white;
  background-color: var(--s);
  border-radius: 10px;
  border: none;
}
.mainContainer form button:hover{
  transform: scale(1.05);
}

.links{
  display: flex;
  margin-bottom: 35px;
  font-size: 1.5rem;
}
.links p{
  font-size: 1.5rem;
}
.links a{
  font-weight: bold;
  color: var(--s);
  text-decoration: none;
}
.links a:hover{
  color: var(--p);
  text-decoration: none;
}

.passwordAlready{
  display: flex;
  gap: 10px;
}
.passwordAlready a{
  font-weight: bold;
  color: var(--s);
  text-decoration: none;
}
.passwordAlready a:hover{
  color: var(--p);
  text-decoration: none;
}

@media (width <= 991px){
  .mainContainer{
    margin-bottom: 50px;
  }
  .mainContainer form{
    width: 90%;
  }
  .mainContainer form button{
    width: 80%;
  }
}