@import "~bootstrap/dist/css/bootstrap.min.css";
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  color: rgb(var(--foreground-rgb));
  background-color: rgb(230, 230, 230);
  color: black;
}

* h1{
  font-size: clamp(16px, 5vw, 32px);
  margin: 0;
  font-weight: 700;
  line-height: .9;
}
* h2{
  margin: 0;
}
* h3{
  margin: 0;
}
* h4{
  margin: 0;
}
* h5{
  margin: 0;
}
* p{
  margin: 0;
  font-size: clamp(.5rem, 4vw, 1rem);
}
* ul{
  margin: 0;
  padding: 0;
}

.btn-primary{
  --bs-btn-color: none;
  --bs-btn-bg: none;
  --bs-btn-border-color: none;
  --bs-btn-hover-color: none;
  --bs-btn-hover-bg: none;
  --bs-btn-hover-border-color: none;
  --bs-btn-focus-shadow-rgb: none;
  --bs-btn-active-color: none;
  --bs-btn-active-bg: none;
  --bs-btn-active-border-color: none;
  --bs-btn-active-shadow: none;
  --bs-btn-disabled-color: none;
  --bs-btn-disabled-bg: none;
  --bs-btn-disabled-border-color: none;
}