.mainContainer{
  --p: #a4304d;
  --s: #3b151f;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 500px;
  width: 100%;
}

.directLinksContainer{
  display: flex;
  justify-content: center;
  height: 10%;
  width: 100%;
  background-color: var(--s);
}
.directLinks{
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  width: 650px;
}
.directLinks a{
  width: 120px;
  text-align: center;
  text-decoration: none;
  color: white;
}
.directLinks a:hover{
  color: var(--p);
}

.infoContainer{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 60%;
}
.socialMedias{
  display: flex;
  justify-content: center;
}

.instaIcon{
  height: 25px;
  width: 25px;
  margin-right: 20px;
  cursor: pointer;
}
.instaIcon:hover{
  color: var(--p);
}

.fbIcon{
  height: 25px;
  width: 25px;
  margin-left: 20px;
  cursor: pointer;
}
.fbIcon:hover{
  color: var(--p);
}

.wpp{
  display: flex;
  justify-content: center;
  align-items: center;
}
.wpp:hover .wppIcon{
  color: var(--p);
}
.wppIcon{
  height: 25px;
  width: 25px;
  margin-right: 10px;
}

.mail{
  display: flex;
  justify-content: center;
  align-items: center;
}
.mail:hover .mailIcon{
  color: var(--p);
}
.mailIcon{
  height: 25px;
  width: 25px;
  margin-right: 10px;
}

.location{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.location:hover .locationIcon{
  color: var(--p);
}
.locationIcon{
  height: 25px;
  width: 25px;
  margin-right: 10px;
}

.paySectionContainer{
  display: flex;
  justify-content: center;
  width: 100%;
}
.paySection{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 50%;
}
.paySection span{
  display: flex;
  align-items: center;
  padding: 4px;
}

.shippingContainer{
  display: flex;
  justify-content: center;
  width: 100%;
}
.shippingSection{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.shippingSection span{
  padding: 4px;
  background-color: white;
}

.extra{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 20%;
  background-color: var(--s);
  color: white;
}

.copyRight{
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  font-size: .8rem;
  height: 50px;
}
.copyRight{
  display: flex;
  align-items: center;
  
}
.copyRight span{
  display: flex;
  align-items: center;
  margin-right: 1px;
}

.consumersDef{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
}
.consumersDef p{
  font-size: .8rem;
}
.consumersDef p a{
  font-weight: bold;
  color: white;
}
.consumersDef p a:hover{
  color: var(--p);
}

@media (width <= 1315px){
  .paySection{
    width: 90%;
    justify-content: center;
  }
}

@media (width <= 991px){
  .mainContainer{
    height: 100%;
  }
  .directLinksContainer{
    height: 100px;
  }
  .copyRight{
    height: 100%;
  }
  .consumersDef{
    height: 100%;
  }
  .infoContainer article{
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .extra article{
    height: 80px;
  }
}

@media (width <= 800px){
  .shippingSection{
    width: 90%;
    justify-content: center;
  }
}

@media (width <= 495px){
  .directLinks{
    justify-content: center;
  }

  .consumersDef{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}