.item{
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-bottom: 40px;
}
.item img{
  height: 70px;
  width: 50px;
  border-radius: 10px;
}

.itemNameCant{
  display: flex;
  flex-direction: column;
  width: 50%;
}

.itemTrashPrice{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 15%;
  height: 80%;
}

.trash{
  height: 20px;
  width: 20px;
  cursor: pointer;
  color: #3b151f;
}
.trash:hover{
  transform: scale(1.2);
  color: #a4304d;
}