.cartContainer{
  position: absolute;
  right: -500px;
  top: 0%;
  height: 100%;
  width: 500px;
  padding-left: 1%;
  padding-right: 1.5%;
  background-color: white;
  overflow-y: scroll;
  overflow: auto;
  padding-bottom: 1%;
}

.openCart{
  animation-name: openCartMovement;
  animation-duration: 1s;
  animation-timing-function: cubic-bezier();
  animation-fill-mode: forwards;
}
@keyframes openCartMovement{
  0%{
    right: -500px;
  }
  100%{
    right: 0;
  }
}

.closeCart{
  animation-name: closeCartMovement;
  animation-duration: 1s;
  animation-timing-function: cubic-bezier();
  animation-fill-mode: forwards;
}
@keyframes closeCartMovement {
  0%{
    right: 0;
  }
  100%{
    right: -500px;
  }
}

.tittle{
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 100%;
  left: 0;
  color: white;
  text-shadow: 0px 0px 1px white;
  background-color: #3b151f;
}

.closeCartButton{
  position: absolute;
  height: 50px;
  width: 50px;
  right: 3%;
  font-size: 2rem;
  color: white;
  background-color: transparent;
  border: none;
  cursor: pointer;
}
.closeCartButton:hover{
  color: #a4304d;
}

.cartArticles{
  display: flex;
  flex-direction: column;
  width: 95%;
  margin-left: 2.5%;
  max-height: 40%;
  margin-top: 15%;
  padding-top: 2%;
  overflow: auto;
}
.cartArticles::-webkit-scrollbar {
  display: none;
}

.greyBar{
  width: 100%;
  margin-top: 6%;
  margin-bottom: 6%;
  border: 1px solid #3b151f;
}

.price{
  display: flex;
  justify-content: space-between;
  width: 93%;
  margin-left: 3.5%;
}
.price p{
  font-size: 1.5rem;
}

.finishBuyContainer{
  display: flex;
  justify-content: center;
  height: 50px;
  width: 100%;
  text-decoration: none;
}

.finishBuy{
  width: 50%;
  color: white;
  background-color: #3b151f;
  font-size: 1.5rem;
  border: none;
  cursor: pointer;
}
.finishBuy:hover{
  transform: scale(1.05);
}

@media (width <= 991px){
  .cartContainer{
    width: 100%;
  }
  .finishBuy{
    height: 40px;
    width: 75%;
    margin-bottom: 3%;
  }
  .finishBuy:hover{
    background-color: black;
    color: white;
  }
  .finishBuy:active{
    background-color: white;
    color: black;
  }

  @keyframes openCartMovement{
    0%{
      right: -100%;
    }
    100%{
      right: 0;
    }
  }
  @keyframes closeCartMovement {
    0%{
      right: 0;
    }
    100%{
      right: -100%;
    }
  }
}