.shipping{
  display: flex;
  flex-direction: column;
  width: 93%;
  margin-left: 3.5%;
}
.shipping form{
  margin-top: 3%;
}
.shipping a{
  width: 65%;
  margin-top: 2%;
  font-size: .9rem;
  text-decoration: none;
  color: black;
}
.shipping a:hover{
  color: #a4304d;
}

.shipping form{
  display: flex;
  justify-content: space-between;
}

.shipping form input{
  height: 35px;
  width: 60%;
  border-radius: 10px;
  padding-left: 2%;
  border: 2px solid #3b151f;
  outline: none;
}
.shipping form label{
  display: none;
}
.shipping form input:focus{
  border: 2px solid #a4304d;
}
.shipping form button{
  height: 35px;
  background-color: white;
  cursor: pointer;
  border: none;
}
.shipping form button:hover{
  color: #a4304d;
  transform: scale(1.05);
}

.truckAndTittle{
  display: flex;
}
.truckAndTittle p{
  padding-left: 2%;
}

.truckIcon{
  height: 20px;
  width: 20px;
}

.postalChange{
  display: flex;
  justify-content: space-around;
}
.postalChange button{
  border-radius: 20px;
  background-color: white;
  border: none;
}
.postalChange button:hover{
  color: #a4304d;
  transform: scale(1.05);
}
.postalChange button:active{
  transform: scale(1.05);
}

.locationAndTittle{
  display: flex;
  margin-top: 5%
}
.locationAndTittle p{
  padding-left: 2%;
}

.formRadios input[type=radio]{
  --s: 1.5em;
  --c: #a4304d;
  height: var(--s);
  aspect-ratio: 1;
  border: calc(var(--s)/8) solid #939393;
  padding: calc(var(--s)/8);
  background: radial-gradient(farthest-side,var(--c) 94%,#0000) 50%/0 0 no-repeat content-box;
  border-radius: 50%;
  outline-offset: calc(var(--s)/10);
  appearance: none;
  cursor: pointer;
  font-size: inherit;
  transition: .3s;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.formRadios input[type=radio]:checked{
  border-color: var(--c);
  background-size: 100% 100%;
}

.formRadios input[type=radio]:disabled{
  background: linear-gradient(#939393 0 0) 50%/100% 20% no-repeat content-box;
  opacity: .5;
  cursor: not-allowed;
}

.formRadios label {
  display: flex;
  align-items: center;
  gap: 10px;
  margin: 5px 0;
  cursor: pointer;
}

.formRadios label div{
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.locationIcon{
  height: 20px;
  width: 20px;
}

.location{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
  width: 100%;
  margin-top: 2%;
  border-radius: 10px;
  background-color: rgb(230, 230, 230);
  border: 2px solid rgb(80, 80, 80);
  box-shadow: 0px 0px 1px 1px rgb(80, 80, 80);
}
.location:focus{
  border: 2px solid #a4304d;
  box-shadow: 0px 0px 1px 1px #a4304d;
}
.location p{
  margin-left: 6%;
}
.location h3{
  margin-right: 6%;
}

@media (width <= 991px){
  .shipping a{
    width: 80%;
  }
  .location p{
    text-align: left;
    margin-left: 10px;
  }
  .location h3{
    margin-right: 10px;
  }
}