.mainContainer{
  --p: #a4304d;
  --s: #3b151f;
  --t: rgb(80, 80, 80);
  --b: rgb(230, 230, 230);
  margin-top: 180px;
}
.mainContainer h1{
  width: 100%;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
  color: white;
  background-color: var(--s);
}

.profileContainer{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-top: 70px;
  margin-bottom: 100px;
}

.profileInfo{
  height: 100%;
}
.profileInfo div{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  border: 3px solid var(--s);
  border-top: none;
  width: 400px;
  height: 180px;
  background-color: white;
}
.profileInfo div:hover{
  border: 3px solid var(--p);
  border-top: none;
}
.profileInfo h4{
  padding-top: 10px;
  padding-bottom: 10px;
  color: white;
  text-align: center;
  background-color: var(--s);
}
.profileInfo h5{
  margin-left: 10px;
}

.links{
  display: flex;
  justify-content: center;
  margin-bottom: 35px;
  font-size: 1.5rem;
}
.links p{
  font-size: 1.5rem;
}
.links a{
  font-weight: bold;
  color: var(--s);
  text-decoration: none;
}
.links a:hover{
  color: var(--p);
  text-decoration: none;
}

.purchases{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-bottom: none;
  width: 1000px;
}
.purchases h4{
  color: white;
  text-align: center;
  background-color: var(--s);
  padding-top: 10px;
  padding-bottom: 10px;
}
.purchases:hover .totalContainer h5{
  border-top: 3px solid var(--p);
  border-left: 3px solid var(--p);
}

.purchaseBorder{
  border: 3px solid var(--s);
  border-top: none;
}
.purchaseBorder:hover{
  border: 3px solid var(--p);
  border-top: none;
}

.totalContainer{
  display: flex;
  justify-content: right;
  align-items: bottom;
  width: 100%;
  background-color: white;
}
.totalContainer h5{
  border-top: 3px solid var(--s);
  border-left: 3px solid var(--s);
}

@media (width <= 1414px){
  .profileInfo{
    margin-bottom: 50px;
  }
}

@media (width <= 1420px){
  .purchases{
    width: 550px;
  }
}
@media (width <= 991px){
  .profileInfo{
    width: 90vw;
  }
  .profileInfo div{
    width: 100%;
  }
  .purchases{
    width: 90vw;
  }
  .links{
    top: -35px;
  }
}