.item{
  position: relative;
  display: flex;
  align-items: center;
  height: 80px;
  background-color: white;
  padding-left: 2%;
}
.item img{
  max-height: 70px;
  max-width: 50px;
  border-radius: 10px;
}

.name{
  margin-right: 80px;
  margin-left: 20px;
}
.price{
  position: absolute;
  right: 2%;
}