.mainContainer{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 200px;
}

.mainContainer p{
  font-size: clamp(.5rem , 4vw, 1rem);
}

.homeLink{
  position: absolute;
  display: flex;
  top: -50px;
  font-size: 1.5rem;
}
.homeLink p{
  font-size: 1.5rem;
}
.homeLink a{
  font-weight: bold;
  color: #3b151f;
  text-decoration: none;
}
.homeLink a:hover{
  color: #a4304d;
  text-decoration: none;
}

.articlesTotal{
  position: relative;
  width: 600px;
  height: 100%;
  border: 3px solid #3b151f;
  padding: 10px;
  background-color: white;
}

.cartArticles{
  display: flex;
  flex-direction: column;
  max-height: 40%;
  margin-top: 5%;
  padding: 2%;
  overflow-y: scroll;
  overflow: auto;
}
.cartArticles::-webkit-scrollbar {
  display: none;
}

.formInfomation{
  width: 600px;
  margin-left: 2%;
}
.formInfomation input{
  height: 40px;
  border: 3px solid #3b151f;
  border-radius: 10px;
  padding-left: 10px;
  outline: none;
}
.formInfomation input:hover{
  border: 3px solid #a4304d;
}
.formInfomation input:focus{
  border: 3px solid #a4304d;
}

.shipping{
  display: flex;
  align-items: center;
}
.truckIcon{
  height: 20px;
  width: 20px;
  margin-right: 2%;
}

.location{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
  width: 100%;
  margin-top: 2%;
  border-radius: 10px;
  border: 1px solid grey;
  background-color: white;
}
.location:focus{
  border: 1px solid rgb(50, 50, 150);
}
.location p{
  margin-left: 6%;
}
.location h3{
  margin-right: 6%;
}

.flexBetween{
  display: flex;
  justify-content: space-between;
}

.otherPerson{
  display: flex;
  margin-top: 2%;
}
.otherPerson input[type=checkbox]{
  --s: 1.5em;
  --c: #a4304d;
  height: var(--s);
  aspect-ratio: 1;
  border: calc(var(--s)/8) solid #939393;
  padding: calc(var(--s)/8);
  background: radial-gradient(farthest-side,var(--c) 94%,#0000) 50%/0 0 no-repeat content-box;
  border-radius: 50%;
  outline-offset: calc(var(--s)/10);
  appearance: none;
  cursor: pointer;
  font-size: inherit;
  transition: .3s;
  -webkit-appearance: none;
  -moz-appearance: none;
}
.otherPerson input[type=checkbox]:checked{
  border-color: var(--c);
  background-size: 100% 100%;
}

.otherPerson input[type=checkbox]:disabled{
  background: 
     linear-gradient(#939393 0 0) 
     50%/100% 20% no-repeat content-box;
  opacity: .5;
  cursor: not-allowed;
}
.otherPerson label {
  display:flex;
  align-items:center;
  gap:10px;
  margin:5px 0;
  cursor: pointer;
}
.otherPerson label div{
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.apearPerson{
  display: initial;
}
.desapearPerson{
  display: none;
}

@media (width <= 1225px){
  .formInfomation{
    margin-top: 50px;
  }
}
@media (width <= 991px){
  .mainContainer{
    margin-top: 60px;
  }
  .articlesTotal{
    width: 90%;
  }
  .formInfomation{
    width: 90%;
    margin-bottom: 5%;
  }
}