.NavBarContainer{
  z-index: 7;
  position: fixed;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  top: 0;
  border-bottom: 1px solid white;
  background-color: #3b151f;
  transition-duration: .5s;
}

.normalNavBar{
  height: 150px;
}
.smallNavBar{
  height: 100px;
}

.logo{
  z-index: 1;
  position: absolute;
  height: 100%;
  left: 8%;
  transition: 1s;
}

.normalLogo{
  width: 15%;
}
.smallLogo{
  width: 10%;
}

@media (width < 991px){
  .logo{
    z-index: 1;
    position: absolute;
    height: 50%;
    left: 30%;
    transition: 1s;
  }

  .normalLogo{
    width: 40%;
  }
  .smallLogo{
    width: 30%;
    left: 35%;
  }
}