.mainContainer{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  grid-column: 8 / 11;
}
.cartIconContainer{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
}

.profileIconContainer{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
}

.profileIcon{
  height: 70%;
  width: 40px;
  cursor: pointer;
}

.signOrRegister{
  z-index: 1;
  position: absolute;
  height: auto;
  width: 140px;
  top: 43%;
  background-color: white;
  border: 2px solid #a4304d;
  border-top: none;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  transition: .5s;
  color: rgba(50, 50, 50);
  text-shadow: 0px 0px 1px rgba(50, 50, 50);
}
.signOrRegister a{
  display: flex;
  justify-content: center;
  width: 100%;
  text-decoration: none;
  padding: 3.8px;
  color: black;
}
.signOrRegister a:hover{
  color: #a4304d;
  text-shadow: 0px 0px 1px #a4304d;
}

.signOrRegisteOn{
  display: initial;
}
.signOrRegisteOff{
  display: none;
}

.normalNavBar{
  top: 48%;
}
.smallNavBar{
  top: 58%
}

.cartIcon{
  height: 70%;
  width: 40px;
  cursor: pointer;
}

.cartContainer{
  z-index: 1;
  display: none;
  position: absolute;
}

.cartBackground{
  height: 100vh;
  width: 100vw;
  background-color: #36363668;
  cursor: pointer;
}

@media (width <= 991px){
  .mainContainer{
    grid-column: 9 / 11;
  }
  .profileIconContainer{
    display: none;
  }
}