.filterSelect button{
  color: black;
  background-color: white;
  border: 1px solid rgb(80, 80, 80);
  box-shadow: 0px 0px 1px .5px rgb(80, 80, 80);
}
.filterSelect button:hover{
  color: black;
  background-color: white;
  border: 1px solid #a4304d;
  box-shadow: 0px 0px 1px .5px #a4304d;
}

.filterSelect button:active{
  color: black;
  background-color: white;
  border: 1px solid #a4304d;
  box-shadow: 0px 0px 1px .5px #a4304d;
}

.filterSelect button:focus{
  color: black;
  background-color: white;
  border: 1px solid #a4304d;
  box-shadow: 0px 0px 1px .5px #a4304d;
}

.filterSelect div{
  z-index: 1;
  margin-top: 1%;
  border: 1px solid #a4304d;
  box-shadow: 0px 0px 1px .5px #a4304d;
}

.filterSelect p:hover{
  color: #a4304d;
}
.filterSelect a:hover{
  background-color: transparent;
}